.header-outer-container {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  color: #fff;

  background-color:transparent;
  height: 10vh;
  transition: background-color 1.6s ease;
  z-index: 1;
}

.header-outer-container.scrolled {
  background-color: rgb(20, 20, 20);
}

.header-wrapper {
  width: 95%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  top: 0;
 color:white;
}
.header-wrapper ul {
  width: 15vw;
}

.left-header-wapper {
  width: 60%;
  padding-top: 15px;
}

.left-header-wapper ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-wrapper ul li {
  list-style: none;
  cursor: pointer;
}
.right-header-wapper {
  width: 12%;
  padding-top: 10px;
  margin-left: 25%;
}
.right-header-wapper ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 500px) {
  .left-header-wapper {
    width: 30%;
  }
  .right-header-wapper {
    margin-left: 0;
  }
  .header-wrapper {
    justify-content: flex-start;
  }
  .left-header-wapper {
    margin-right: 33%;
  }
}

@media (max-width: 769px) {
  .right-header-wapper div {
    width: 50%;
    justify-content: space-between;
  }
  .right-header-wapper .MuiSvgIcon-root {
    font-size: 30px;
  }

  .left-header-wapper ul > li {
    display: none;
  }
}